/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */


 /**
  * Fonts
  */
   //@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic);
  // @import url(https://fonts.googleapis.com/css?family=Work+Sans:400,500);
  // @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
   //@import url(https://fonts.googleapis.com/css?family=Karla:400,700,400italic);
   @import url(https://fonts.googleapis.com/css?family=Inconsolata);

 /**
  * Variables
  * ---
  */

 // variables
 $font-family-base: Helvetica, Arial, sans-serif;
 // $font-family-credits: "Inconsolata", Helvetica, sans-serif;
 // $font-family-base: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 $font-size-base: 18;
 $line-height-base: 1.8;
 $line-height-credits: 1.4;

 $fs-menu: 19;
 $fs-menu-mobile: 13;
 $fs-footer: 14;

 $fs-archive-title: 18;
 $fs-archive-subtitle: 13;

 $fs-title: 21;
 $fs-subtitle: 20;
 $fs-credits: 18;

 $fs-tweet: 18;


 // colors
 $text-color: #1b1b1b;
 $body-bg: #fff;
 $selection-bg: #fff;
 $selection-fg: lighten($text-color, 50%);
 $accent-color: #CCC;

// grid
 $wrapper-width: 1280px;
 $article-width: 1000px;

 $padding-horizontal-base: 5px;
 $padding-vertical-base: 5px;
 $margin-horizontal-base: 5px;
 $margin-vertical-base: 5px;
 $margin-horizontal-large: 15px;
 $margin-vertical-large: 15px;



// Partials
@import "partials/mixins";
@import "partials/reset";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/print";


@mixin inverted() {
   a { background-color: $text-color; color:$body-bg;}
}



/**
 * Base Layout
 */
.wrapper {
  max-width: $wrapper-width;
  padding: 0 $margin-horizontal-large;
  margin: 0 auto;
  position: relative;
}

header {
   z-index:1;
   position:relative;
}

@media (min-width: 600px) {
  .header-back {
    width: 100%;
    height: 100px;
    position: fixed;
    opacity: 0.97;
  }
}

@media (max-width: 599px) {
  .header-back {
    width: 100%;
    height: 65px;
    background-color: $body-bg;
    position: fixed;
    opacity: 0.97;
  }
}

@media (min-width: 600px) {
  .header {
    // Header container
    $header-height: 100px;
    padding-top: 0;
    height: $header-height;
    .header-content {
      position: fixed;
      left: 0;
      width: 100%;
      height: $header-height;
      z-index: 10;
      display: inline-block;

    }
    nav {
      z-index: 10;
      @include font-size($fs-menu);
      font-weight: bold;
      line-height: 3.0;
      ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
      }
      li {
        display: inline-block;
        &:before { content:'— '; }
        &:first-child:before { display:none; }
        a {
          //display: block;
          text-decoration: none;
          color: $text-color;
          padding: 0 20px;
          &:hover {
            @include inverted();
            color: $accent-color;
          }
        }
        &.current-menu-item a {
          @include inverted();
          &:hover {
            @include inverted();
            color: $accent-color;
          }
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .header {
    // Header container
    $header-height: 60px;
    padding-top: 0;
    height: $header-height;
    .header-content {
      position: fixed;
      left: 0;
      width: 100%;
      height: $header-height;
      z-index: 10;
    }
    nav {
      z-index: 10;
      @include font-size($fs-menu-mobile);
      font-weight: bold;
      line-height: 3.0;
      ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
      }
      li {
        display: inline-block;
        width: 100%;
        //&:before { content:'— '; }
        //&:first-child:before { display:none; }
        a {
          display: block;
          text-decoration: none;
          color: $text-color;
          padding: 0 20px;
          &:hover {
            @include inverted();
            color: $accent-color;
          }
        }
        &.current-menu-item a {
          @include inverted();
          color: $text-color;
          &:hover {
            @include inverted();
            color: $accent-color;
          }
        }
      }
    }
  }
  .navigation {
    height: 180px;
    z-index: 10;
    .navigation-works {
      position: fixed;
      padding-left: 10px;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      @include font-size($fs-menu-mobile);
      font-weight: bold;
      ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
        line-height: 3.0;
      }
      li {
        display: inline-block;
        //&:before { content:'— '; }
        //&:first-child:before { display:none; }
        a {
          display: block;
          text-decoration: none;
          color: $text-color;
          padding-left: 10px;
          padding-right: 5px;
          &:hover {
            @include inverted();
            color: $accent-color;
          }
        }
        &.current-menu-item a {
          @include inverted();
          color: $text-color;
        }
      }
    }
    .navigation-about {
      padding-right: 10;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 10;
      @include font-size($fs-menu-mobile);
      font-weight: bold;
      ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
        line-height: 3.0;
      }
      li {
        display: inline-block;
        //&:before { content:'— '; }
        //&:first-child:before { display:none; }
        a {
          display: block;
          text-decoration: none;
          padding-right: 10px;
          padding-left: 5px;
          color: $text-color;
          &:hover {
            @include inverted();
            color: $accent-color;
          }
        }
        &.current-menu-item a {
          @include inverted();
          color: $text-color;
        }
      }
    }
  }
}

.footer {
  font-family: "Inconsolata";
  @include font-size($fs-footer);
  text-align: center;
  margin-top: 100px;
  p {
    font-weight: normal;
  }
}


// hide all images for js fade-in
html.js {
   img { visibility:hidden; }
}



/**
 * HOME Page / WORKS Archive
 */
body.home, body.archive {



   section { display:flex; flex-wrap:wrap; justify-content:space-around; align-items:center; }
   article {

     display: inline-block;
     margin-bottom: 2%;
     margin-bottom: 4vw;
     margin-right: 2%;
     //margin-top: 40px;

      .title { @include font-size($fs-archive-title); font-weight:500;
         .title-extra:before { content:"—"; }
         margin:0;
         margin-top: -2.8em;
      }
      .subtitle { @include font-size($fs-archive-subtitle); font-weight:normal;
         margin:0;
         margin-top:0.8em;
         p { margin:0; }
      }
      a { font-weight: bold; text-decoration: none;
        }
      a img {
        width: 100%;
        max-width: 600px;

      }
      &:hover .title { color: $accent-color;}
      a img:hover { color: $accent-color; }
       &:hover img { opacity: 1.0;
         //outline: 7px solid $accent-color; outline-offset:-7px;
       }
      .title, .subtitle {

        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 10 15px;

        /*
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 101%;
        top: 0;
        pointer-events: none;
        &:before {
          background-color: $body-bg;
          content: ' ';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0.1;
          top: 0;
          left: 0;
        }

        //display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
       flex-basis: initial;

        text-align: center;
        position: relative; */
        a {
          text-decoration: none;
          text-transform: none;
          @include font-size($fs-subtitle);
          color: $text-color;
        }
        a:hover {
          text-decoration: underline;
        }
      }
   }

   .feature {
      display: block;
      justify-content:space-between;
      margin-top:10px;
      margin-bottom:100px;

      .info { padding-right:1em; margin: 50px 0; }
      .reel { flex-grow:3;
         .vimeo-outer[style] { max-width:100% !important; }
      }
   }

}

.work-container {
   flex-basis: 100%;
   text-align:center;
}


/**
 * Social Posts
 */
body.home, body.archive {
   article.instagram {
      max-width:380px;
      // z-index: -100;

      .subtitle {
        margin-top:1.3em;
        line-height: 1.6em;
        display: none;
      }
      .subtitle2 {
        display: block;
        margin-top:1.3em;
        margin-bottom:1.3em;
      }
   }
   article.instagram:hover {
   }

   article.twitter {
     .tweet {
       @include font-size($fs-tweet);
       font-style: normal;
       font-weight:500;
       text-align: center;
     }
   }

   article.featured {
     font-size: $font-size-base;
     margin-right: 0.8em;
     margin-left: 0.8em;
     margin-top:5.3em;
     margin-bottom:5.3em;

     a {
       font-weight: bold;
       text-decoration: none;
       border-bottom: 1px solid #000000;
     }
     a:hover {
       color: $accent-color;
       border-bottom: 2px solid $accent-color;
     }
   }
}



/**
 * Single WORK
 */
body.single-works {
   .title { @include font-size($fs-title); padding-top: 20px; text-align: center; font-weight:700;}
   .subtitle { @include font-size($fs-subtitle); text-align: center; font-weight:300;}

   .images {
      img { display:block; margin:0 auto; margin-top:60px; margin-bottom:60px; }
   }
   .vimeo-outer { margin:0 auto; margin-top:60px; margin-bottom:60px;}
   .text {
     width: 100%;
     max-width:$article-width; margin:0 auto;
     a {
       text-decoration: none;
       font-weight: bold;
       border-bottom: 1px solid $text-color;
     }
     a:hover {
       color: $accent-color;
       border-bottom: 1px solid $accent-color;
     }
   }
   .credits {
    font-family: "Inconsolata";
    padding-top: 10px;

     @include font-size($fs-credits);
     line-height: $line-height-credits;

     max-width:$article-width; margin:0 auto;
    text-align: center;
     a {
       text-decoration: none;
     }
    }

    .text {
      position: relative;
      max-width: 800px;
    }
}

/**
* Works Archive
**/

body.home, body.post-type-archive-works, body.archive.tag {
    article[style] {
      margin: 8% !important;
      max-width: 400px !important;
      margin-bottom: 25% !important;
    }
    .work-container {
      flex-basis: initial;
    }
    .subtitle {
      visibility: hidden;
    }
}

@media (max-width: 600px) {

  body.post-type-archive-works, body.archive.tag {
    img { width: 300px; }
    article[style]{
      margin: 3% !important;
      margin-bottom: 33% !important;
      padding: 0% !important;
    }
  }

  body.home article.featured {

    padding: 2.3em;
    margin-right: 0.8em;
    margin-left: 0.8em;
    margin-top: 1.3em;
    font-size: 14px;

    a {
      text-decoration: none;
      border-bottom: 1px solid #000000;
    }

  }

}

.big-text{
  @include font-size($fs-title);
  line-height: 1.4em;
  width: 100%;
  max-width:$article-width;
  margin-top: 0.67em;
  margin-right: 0px;
  margin-bottom: 0.67em;
  margin-left: 0px;
}
body.post-2{
  margin-top: 50px;
}

body.page {
   article { width: 100%;
   max-width:$article-width; margin:0 auto;
   a {
     text-decoration: none;
     border-bottom: 1px solid #000000;
   }
 }

   @media (min-width: 600px) {
     // two columns layout
     .items {
     	display: flex;
     	flex-wrap: wrap;
      padding-top: 20px;
     	margin-left: -30px;
     	margin-top: -30px;
     }
     .items img {
      margin-top: 50px;
     }
     .items .item {
     	flex: 1 0 calc(25% - 10px);
     	margin: 30px;
     }
  }
  @media (max-width: 599px) {
    // two columns layout
    .items img {
     margin-top: 50px;
    }
    .items .item {
    }
 }
}



.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $text-color;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
 }

/* Work thumbnails on single works */
body.single-works {
  .more-works {
    @include font-size($fs-subtitle);
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  section.work-links-in-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    .work-container {
      flex-basis: initial;
    }
    article {
      max-width: 470px !important;
      margin: 0 0.5vw 30px !important;
      padding: 0 !important;
      position: relative;
      .subtitle {
        display: none;
      }
      hgroup {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 101%;
        top: 0;
        pointer-events: none;
        &:before {
          background-color: $body-bg;
          content: ' ';
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0.1;
          top: 0;
          left: 0;
        }
      }
      .title {
        opacity: 0;
        position: relative;
        a {
          text-decoration: none;
          text-transform: none;
          @include font-size($fs-subtitle);
          color: $text-color;
        }
        margin: 0 15px;
      }
      &:hover {
        hgroup:before {
          opacity: 0.8;
        }
        .title {
          opacity: 1;
        }
        cursor: pointer;
      }
      img {
        //filter: grayscale(100%);
        opacity: 0.9;
      }
      &:before {
        content: ' ';
        background-color: #ffffff;
        display: block;
        position: absolute;
        width: 99.8%;
        /* not 100%, because of chrome bug weißer blitzer */
        height: 99.8%;
        /* not 100%, because of chrome bug weißer blitzer */
        top: 0;
        left: 0;
      }
    }
  }
}
/* END: Work thumbnails on single works */
